name: CI

on:
  pull_request:
    types: [opened, reopened, ready_for_review, edited, synchronize]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: code checkout
        uses: actions/checkout@v4

      - name: node setup
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"

      - name: intall dependencies
        run: npm ci

      - name: lint
        run: npm run lint
